alias la="ls -ahF"
alias ls="ls -hF"
alias ll="ls -lhF"
alias lla="ls -lahF"
alias "cd.."="cd ../"
alias up="cd ../"
alias cp="cp -r"
alias mkdir="mkdir -p"

alias g=git
alias n=npm
alias v=vim
alias t="tmux new-session -AD -s" # Use like `t work` to start/resume work session

# Upload clipboard to hastebin and copy contents
# Requires `hastebin` from npm globally installed
alias hasteclip='pbpaste | hastebin | tee /dev/tty | pbcopy'

# Git aliases
alias gst='git status'

# Command to manage dotfiles
# See https://developer.atlassian.com/blog/2016/02/best-way-to-store-dotfiles-git-bare-repo/
alias dot='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# Nicer grep
alias grep='grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn}'

# alias xclip to pb(paste|copy)
if ! type -p pbpaste &> /dev/null; then
    alias pbcopy='xclip -selection clipboard'
    alias pbpaste='xclip -selection clipboard -o'
fi
