[alias]
	co = checkout
	com = commit
	st = status
	br = branch
	hist = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[user]
	email = rahatarmanahmed@gmail.com
	name = Rahat Ahmed
	signingkey = C15B349F
[push]
	default = simple
	followTags = true
[url "https://"]
[url "https://"]
[color]
	ui = auto
[pull]
	rebase = true
